.header {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: var(--white-color);
    position: relative;
}

.header-nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toolbar{
    margin-left: auto;
}

.navbar, .logo-desktop {
    display: none;
}

.header-logo, .btn-menu-hamburger, .toolbar-item{
    padding: 1rem;
}

.btn-menu-hamburger {
    align-self: stretch;
    background-color: transparent;
    width: 40px;
    display: inline-block;
    border: none;
    box-sizing: content-box;
    transition: all .4s;
}

.btn-menu-hamburger i {
    font-size: 18px;
    vertical-align: middle;
}

.btn-menu-hamburger.active {
    background-color: var(--primary-color);
}

.btn-menu-hamburger.active i {
    color: var(--white-color);
}

.menu-hamburger, .sub-menu {
    background-color: var(--white-color);
    display: none;
    width: 300px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
}

.menu-hamburger-title {
    color: var(--secondary-color);
    font-weight: 700;
}

.menu-hamburger-title,
.menu-hamburger-item,
.sub-menu-item {
    display: inline-block;
    padding: 1em;
}

.menu-hamburger-link, .sub-menu-link{
    background: var(--primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* A propriedade 'background-clip: text' aplica o background apenas onde houver texto */
    background-clip: text;
    text-transform: uppercase;
}

.menu-hamburger.active {
    display: block;
}

.horizontalbar {
    display: flex;
    flex-direction: row;
}

.verticalbar {
    display: flex;
    flex-direction: column;
}

.toolbar .toolbar-link {
    text-decoration: none;
}

.toolbar .toolbar-icon {
    font-size: 26px;
}

.toolbar-text {
    display: none;
}

@media screen and (min-width: 1024px) {
    .header {
        justify-content: space-between;
    }

    .logo-desktop{
        display: inline-block;
    }
    
    .header-title-highlights {
        font-weight: 700;
    }
    
    .btn-menu-hamburger, .logo-mobile{
        display: none;
    }
    
    .navbar {
        display: inherit;
        justify-self: center;
        column-gap: 1px;
    }

    .navbar-options {
        column-gap: 1em;
    }
    
    .navbar-item {
        position: relative;
        padding: .5em;
        text-transform: uppercase;
    }

    .navbar-link {
        text-decoration: none;
        color: initial;
    }

    .navbar-item .sub-menu{
        display: none;
        width: auto;
    }

    .navbar-item.showMenu{
        background: var(--primary-gradient);
    }

    .navbar-item.showMenu .navbar-link{
        color: var(--white-color);
    }
    
    .navbar-item.showMenu .sub-menu{
        display: block;
    }

    .toolbar{
        margin-left: 4em;
    }

    .toolbar-item.item-favorite {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .header{
        padding: 0 2em;
    }

    .navbar{
        margin-right: auto;
    }

    .toolbar{
        margin: initial;
    }

    .toolbar-item{
        display: inline-block;
    }

    .toolbar-link {
        display: flex;
        align-items: center;
        flex-direction: row;
        column-gap: .5em;
        color: var(--primary-color);
    }

    .toolbar-text {
        display: block;
    }
}