.topics{
    background: var(--primary-gradient);
    text-align: center;
    padding: .5em 0 1em;
}

.topics .topics-title{
    color: var(--white-color);
    font-weight: 300;
    background-color: initial;
    font-size: initial;
}

.topics-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics-item{
    margin: 1.5em 0.5em;
    transition: all 4s;
}

.topics-link {
    padding: 1em;
    color: var(--white-color);
    background-color: var(--secondary-color);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .topics .topics-title {
        font-size: 24px;
        padding: 1em 0;
    }
    
    .topics-list {
        width: 75%;
        margin: 0 auto;
    }

    .topics-item {
        margin: 2em 1em;
    }

    .topics-link {
        font-size: 20px;
    }
}

@media screen and (min-width: 1728px) {
    .topics {
        padding: 3em 20vw;
    }

    .topics-link:hover {
        color: var(--secondary-color);
        background-color: var(--white-color);
    }

    .topics .topics-title {
        padding-block: 0em 1.5em;
    }

}
